# Environnement
.env
.env.*
!.env.example

# Dépendances
node_modules/
vendor/

# Build
dist/
build/
.next/
.nuxt/
out/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Système
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Cache
.cache/
.parcel-cache/
.eslintcache
*.tsbuildinfo

# Claude
.claude/
.claude.json
CLAUDE.md

#Image ppt
ressources/presentation/images-a-glisser/

